/* estilos.css */
#jugador {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; /* Permite que los círculos se ajusten según el espacio disponible */
    width: 100%; /* Ocupar todo el ancho del contenedor de juego */
    margin-top: auto; /* Esto empujará #jugador hacia la parte inferior de #juego */
     /
}
  #juego {
    width: 600px; 
    height: 600px; 
    margin: auto; /* Centrar el cuadrado en la página */
    position: relative;
    background-color: #f0f0f0; 
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden; /* Asegúra de que nada se desborde fuera del área de juego */
    background-image: url('3d.png'); 
    background-size: cover; 
   justify-content: space-between; /* Esto separará el contenido superior e inferior */
    padding: 20px; }



  
.circulo {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
  
  /* Agrega los estilos específicos para cada color de botón */
  .verde {
    background: radial-gradient(circle at center, #00ff00 40%, #009900 100%);
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
  
  .rojo {
    background: radial-gradient(circle at center, #ff0000 40%, #990000 100%);
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
  
  .amarillo {
    background: radial-gradient(circle at center, #ffff00 40%, #999900 100%);
    box-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00;
  }
  
  .azul {
    background: radial-gradient(circle at center, #0000ff 40%, #000099 100%);
    box-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff;
  }
  .purpura{
    background: radial-gradient(circle at center, #800080 40%, #4b0082 100%);
    box-shadow: 0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080;
  }
  
  
  /* Crear un pseudo-elemento para simular la luz de fondo */
  .circulo::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
    filter: blur(5px);
    opacity: 0.7;
  }
  
  /* Simula el reflejo */
  .circulo::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6), transparent);
    border-radius: inherit;
    z-index: 2;
  }
  #opcion {
    width: 30px;
    height: 30px;
    background-color: #e74c3c; /* Rojo */
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
  }
  .elemento {
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    position: absolute;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('nota1.png');
    background-size: contain; /* O el tamaño específico que se vea mejor */
    background-position: center;
    background-repeat: no-repeat; /* Para asegurarte de que la imagen no se repita */
    border-radius: 50%;
}
body {
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0; /* Elimina el relleno predeterminado */
  background-image: url('escenario.png'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
}

#contenedor-del-juego {
  position: relative; /* Esto es necesario si tienes elementos posicionados absolutamente dentro */
  z-index: 1; /* Esto asegura que el contenedor esté sobre el fondo */
  
}

#fondo-detras-del-juego {
  position: fixed; /* O absolute, dependiendo de cómo quieres que interactúe con el scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: url('escenario.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#ui-container {
  position: absolute;
  top: 10px;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 10; 
  display: flex; 
  align-items: center; 
  justify-content: center; /* Alinea los elementos horizontalmente */
}

#textos{
  display: flex;
  flex-direction: column;
  align-items: end;
}
p {
  color: #FFFFFF; /* Elige el color que desees para el texto */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejorar la legibilidad */
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para resaltar el texto */
  margin: 0 25px; /* Espacio horizontal entre puntuación y vidas */
  padding: 5px 10px; /* Espacio interno alrededor del texto */
  border-radius: 10px; /* Bordes redondeados */
  right: 10px; 
  position: absolute;
  top: 10px;
  display: block; /* Asegura que los elementos <p> se muestren uno debajo del otro */
 }
#inicioJuego {
  position: absolute;
  top: 10px;
  left: 10px; }
#pausaJuego {
  position: absolute;
  top: 10px; 
  right: 10px; 
}
.vidas{
  position: relative;
  margin-top: 50px;
  display: flex;
  margin-right: 400px;
}
.puntuacion{
  position: relative;
  margin-right: 328px;
  margin-top: 10px;
}
